.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  background-color: transparent;
}

.button--general {
  padding: 15px 32px 18px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: $basic-blue;
  color: $white;

  &:hover,
  &:focus {
    background-color: $basic-blue-2;
  }

  &:active {
    background-color: $basic-blue-3;
    color: rgba($color: $white, $alpha: 0.3);
  }

  &:disabled,
  &.button--disabled {
    background-color: $input-hover-bg-color;
  }
}

.button--form {
  padding-top: 18px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-left: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 34px;
  }
}

.button--popup {
  padding: 18px 62px 14px 60px;
  font-size: 18px;
}
