.video-presentation {
  padding-top: 31px;
  padding-bottom: 49px;
  text-align: center;
}

.video-presentation__title {
  margin: 0 26px 27px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.video-presentation__body {
  margin: 0 26px;
  font-size: 14px;
  line-height: 24px;
  color: $dark-gray;
}

.video-presentation__image {
  position: absolute;
  width: 100%;
  height: 201px;
  object-fit: cover;
  object-position: center;

  @media (min-width: $tablet-width) {
    height: 500px;
  }
}

.video-presentation__video {
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .video-presentation {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 57px;
    padding-bottom: 40px;
  }

  .video-presentation__title,
  .video-presentation__body {
    margin-left: 100px;
    margin-right: 100px;
  }

  .video-presentation__title {
    font-size: 30px;
    margin-bottom: 33px;
  }

  .video-presentation__video {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 648px;
    height: 500px;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation {
    padding-left: 199px;
    padding-right: 201px;
    padding-top: 61px;
    padding-bottom: 85px;
  }

  .video-presentation__title,
  .video-presentation__body {
    margin-left: 175px;
    margin-right: 175px;
  }

  .video-presentation__video {
    margin-top: 78px;
    width: 800px;
    height: 500px;
  }
}
