$basic-blue: #81b3d2;
$basic-blue-2: #669ec0;
$basic-blue-3: #5496bd;
$dark-gray: #333333;
$black: black;
$white: white;

$input-bg-color: #f2f2f2;
$input-hover-bg-color: #e5e5e5;
$binary-input-active-color: #d5d5d5;
