.advantages__list {
  @include list-reset;
}

.advantages__header {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 39px;
  padding-bottom: 40px;
  box-sizing: border-box;
  color: $white;
  background-color: $basic-blue;
}

.advantages__item:nth-child(2) .advantages__header {
  padding-bottom: 36px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.advantages__item--secondary {
  position: relative;
  padding: 26px 26px 26px;
  background-color: #eeeeee;

  @media (max-width: $tablet-width - 1) {
    &:not(:last-child)::after {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      display: block;
      height: 1px;
      background-color: #d6d6d6;
      content: "";
    }
  }
}

.advantages__item-road {
  padding-left: 42px;
  padding-right: 42px;
}

.advantages__item-tourists {
  padding-left: 35px;
  padding-right: 35px;
}

.advantages__item:first-child .advantages__header {
  padding-top: 55px;

  @media (max-width: $tablet-width - 1) {
    padding-top: calc(34px + #{$page-intro-triangle-offset});
  }
}

.advantages__title {
  margin: 0;
  order: -1;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.advantages__number {
  position: relative;
  margin: 9px 0 18px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;

  &::before,
  &::after {
    display: inline;
  }

  &::before {
    content: "— ";
  }

  &::after {
    content: " —";
  }
}

.advantages__number--secondary {
  color: $dark-gray;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}

.advantages__description--secondary {
  color: $dark-gray;
}

.advantages__image {
  width: 100%;
}

// Переносы строки
.advantages__bridge-title-br {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
  }

  .advantages__item:nth-child(1) .advantages__header {
    padding-top: 40px;
    padding-bottom: 45px;
  }

  .advantages__item:nth-child(2) .advantages__header {
    padding-top: 43px;
    padding-bottom: 42px;
    order: 1;
  }

  .advantages__bridge-title-br {
    display: inline;
  }

  .advantages__item--secondary {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 41px;
    width: 33%;
  }

  .advantages__title--secondary,
  .advantages__description--secondary {
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__item-area {
    .advantages__title {
      width: 150px;
    }

    .advantages__description {
      width: 190px;
    }
  }

  .advantages__item-road {
    .advantages__title {
      width: 150px;
    }

    .advantages__description {
      width: 160px;
    }
  }

  .advantages__item-tourists {
    .advantages__title {
      width: 160px;
    }

    .advantages__description {
      width: 175px;
    }
  }

  .advantages__header {
    width: 33.33%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .advantages__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 66.67%;
    overflow: hidden;
  }

  .advantages__image {
    position: absolute;
  }

  .advantages__title {
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__number--primary {
    margin-top: 11px;
    margin-bottom: 24px;
  }

  .advantages__number--secondary {
    margin-top: 12px;
    margin-bottom: 23px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item:nth-child(1) {
    .advantages__header {
      padding: 47px 55px 59px;
    }

    .advantages__title {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  .advantages__item:nth-child(2) .advantages__header {
    padding: 51px 82px 55px 82px;
  }

  .advantages__item--secondary {
    padding-bottom: 64px;

    .advantages__description {
      width: 315px;
    }
  }
}
