.advantages__list {
  @include list-reset;
}

.advantages__header {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 39px;
  padding-bottom: 39px;
  box-sizing: border-box;
  color: $white;
  background-color: $basic-blue;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.advantages__item--secondary {
  position: relative;
  padding: 26px 26px 24px;
  background-color: #eeeeee;

  @media (max-width: $mobile-width) {
    &:not(:last-child)::after {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      display: block;
      height: 1px;
      background-color: #d6d6d6;
      content: "";
    }
  }
}

.advantages__item:first-child .advantages__header {
  padding-top: 55px;
}

.advantages__title {
  margin: 0;
  order: -1;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.advantages__number {
  position: relative;
  margin: 11px 0 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;

  &::before,
  &::after {
    display: inline;
  }

  &::before {
    content: "— ";
  }

  &::after {
    content: " —";
  }
}

.advantages__number--secondary {
  color: $dark-gray;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}

.advantages__description--secondary {
  color: $dark-gray;
}

.advantages__image {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
  }
  // fixme:
  .advantages__item:nth-child(1) .advantages__header,
  .advantages__item:nth-child(2) .advantages__header {
    padding-top: 40px;
    padding-bottom: 44px;
  }

  .advantages__item:nth-child(2) .advantages__header {
    order: 1;
  }

  .advantages__item--secondary {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 41px;
    width: 33%;

    &:nth-child(3) {
      padding-left: 33px;
      padding-right: 34px;
    }

    &:nth-child(4) {
      padding-left: 46px;
      padding-right: 48px;
    }

    &:nth-child(5) {
      padding-left: 41px;
      padding-right: 40px;
    }
  }

  .advantages__header {
    width: 33%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .advantages__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 67%;
    overflow: hidden;
  }

  .advantages__image {
    position: absolute;
  }

  .advantages__title {
    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item:nth-child(1) .advantages__header {
    padding: 47px 52px 57px 53px;
  }

  .advantages__item:nth-child(2) .advantages__header {
    padding: 51px 78px 53px 79px;
  }
}
