.map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 350px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.map::before {
  position: absolute;
  display: block;
  width: 27px;
  height: 27px;
  box-sizing: border-box;
  content: "";
  background-color: $basic-blue;
  border: 5px solid $white;
  border-radius: 50%;
}

.map__static-map {
  width: 100%;
}

.map__interactive-map {
  position: absolute;
  border: 0;
  width: 100%;
}
