.page-intro {
  position: relative;
  text-align: center;
  line-height: 26px;
  padding-top: 32px;
  padding-bottom: 27px;
}

.page-intro__title {
  margin: 0 0 26px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
}

.page-intro__body {
  position: relative; // необходимо для z-index
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: $dark-gray;
  z-index: 1; // нижний треугольник секции высокий и иногда может перекрывать этот элемент, поэтому поднимаем его вверх
}

@media (max-width: $mobile-width) {
  .page-intro--primary::after {
    position: absolute;
    left: 0;
    bottom: -$page-intro-triangle-offset; // выступающей частью нужна только треугольная часть этой фигуры, поэтому смещаем прямоугольную часть максимально вверх
    display: block;
    width: 100%;
    padding-bottom: 11.6%; // хак, задающий высоту контейнера пропорционально ширине
    content: "";
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .page-intro--primary {
    padding-left: 17px;
    padding-right: 18px;
  }
}

@media (min-width: $tablet-width) {
  .page-intro--primary {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-intro--photo {
    margin-left: 155px;
    margin-right: 155px;
  }

  .page-intro__title {
    font-size: 21px;
  }

  .page-intro__title--secondary {
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-intro--primary {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-intro--photo {
    margin-left: 370px;
    margin-right: 370px;
  }
}
