.page-footer {
  display: flex;
  flex-direction: column;
  padding: 29px 0 23px;
}

.page-footer--feedback {
  padding-top: 28px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px 36px 61px;
  }

  .page-footer--feedback {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-left: 120px;
    padding-right: 120px;
  }

  .page-footer--feedback {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
