.page-top-bar {
  position: relative;
  width: 100%;
  min-height: 56px;
  box-sizing: border-box;
  z-index: -1;
}

.page-top-bar__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .page-top-bar {
    position: static;
    min-height: auto;
    padding: 0;
  }

  .page-top-bar__logo {
    position: absolute;
    z-index: 1;
  }
}
