.page-title {
  position: relative;
  height: 389px;
  background-color: rgb(219, 233, 242);
}

.page-title--secondary {
  height: 158px;
}

.page-title::before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
}

.page-title--secondary::before {
  background-image: url("../img/bg-back-desktop@1x.jpg");
  background-size: 902px 214px;
  background-position-y: bottom;
}

.page-title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 1201px;
  height: 57px;
  content: "";
  background-image: url("../img/bg-intro-triangle-desktop.svg");
  transform: translateX(-50%);
}

.page-title__welcome {
  position: absolute;
  width: 282px;
  height: 214px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page-title__welcome--secondary {
  width: 229px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .page-title {
    height: 518px;
  }

  .page-title--secondary {
    height: 290px;
  }

  .page-title--secondary::before {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 1200px 518px;
    background-position-y: bottom;
  }

  .page-title--secondary::after {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-title__welcome {
    width: 461px;
    height: 350px;
  }

  .page-title__welcome--secondary {
    width: 457px;
    height: 78px;
  }
}
