$indent: 22px;
$input-border-width: 4px;

@mixin text-field-icon {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  z-index: 1;
}

.text-field {
  display: flex;
  align-items: center;
}

.text-field__label {
  font-size: 14px;
  line-height: 26px;
  color: $dark-gray;
  margin-right: 13px;
}

.text-field__input {
  box-sizing: border-box;
  padding-top: 18px - $input-border-width;
  padding-left: $indent - $input-border-width;
  padding-right: $indent - $input-border-width;
  padding-bottom: 14px - $input-border-width;
  min-width: 0;
  width: 100%;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  background-color: $input-bg-color;
  border: $input-border-width solid $input-bg-color;
  outline: none;

  // safari fix
  margin-top: 0;
  margin-bottom: 0;
}

.text-field__input:hover {
  border-color: $input-hover-bg-color;
  background-color: $input-hover-bg-color;
}

.text-field__input:focus {
  border-color: $input-hover-bg-color;
  background-color: transparent;
}

.text-field__input::placeholder {
  color: $black;
  opacity: 1;
}

.text-field__icon-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.text-field__icon-wrapper::after {
  content: "";
  display: block;
  width: 58px;
  background-color: #e6e6e6;
  flex-shrink: 0;
}

.text-field__icon-wrapper--tel::before {
  @include text-field-icon;
  width: 18px;
  height: 18px;
  right: 19px;
  top: 20px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='18px' height='18px' viewBox='0 0 18 18' enable-background='new 0 0 18 18' xml:space='preserve'%3E%3Cg id='Page-1'%3E%3Cg id='Icons-Communication' transform='translate(-85.000000, -126.000000)'%3E%3Cg id='phone' transform='translate(85.000000, 126.000000)'%3E%3Cpath id='Shape' fill='%23010101' d='M3.6,7.8C5,10.6,7.4,12.9,10.2,14.4l2.2-2.2c0.3-0.3,0.699-0.4,1-0.2c1.1,0.4,2.3,0.6,3.6,0.6 c0.6,0,1,0.4,1,1V17c0,0.6-0.4,1-1,1C7.6,18,0,10.4,0,1c0-0.6,0.4-1,1-1h3.5c0.6,0,1,0.4,1,1c0,1.2,0.2,2.4,0.6,3.6 c0.1,0.3,0,0.7-0.2,1L3.6,7.8L3.6,7.8z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.text-field__icon-wrapper--email::before {
  @include text-field-icon;
  width: 16px;
  height: 12px;
  right: 21px;
  top: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 8C7.7 8 7.5 7.9 7 7.7L0 4V11C0 11.5 0.5 12 1 12H15C15.5 12 16 11.5 16 11V4L9 7.7C8.5 7.9 8.3 8 8 8ZM15 0H1C0.5 0 0 0.5 0 1V1.8L8 6L16 1.8V1C16 0.5 15.5 0 15 0Z' fill='black'/%3E%3C/svg%3E%0A");
}

@media (max-width: $desktop-width - 1) {
  .form__fieldset--contacts .text-field {
    flex-direction: column;
    align-items: stretch;
  }

  .form__fieldset--contacts .text-field__label {
    display: block;
    margin-left: $indent;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .form__fieldset--contacts .text-field__label--short {
    display: none;
  }

  .text-field__label--short {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .text-field__label--long {
    display: none;
  }
}

// pixel perfect

.text-field__label--surname {
  margin-right: 14px;
}

.text-field__label--middleName {
  margin-right: 17px;
}

@media (min-width: $desktop-width) {
  .text-field__label--email {
    margin-right: 18px;
  }

  .text-field__label--name {
    margin-right: 14px;
  }

  .text-field__label--surname {
    margin-right: 15px;
  }

  .text-field__label--middleName {
    margin-right: 18px;
  }
}
