$control-btn-color: #5c6870;
$outer-controls-height: 66px;

.video {
  position: relative;
  display: flex;
  padding-bottom: $outer-controls-height; // компенсируем отступ из-за выступающего снизу контейнера с контролами в мобильной версии
}

.video__video {
  width: 100%;
  height: 201px;
}

.video__controls {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 20px;
  right: 20px;
  background-color: rgba($color: $black, $alpha: 0.6);
}

.video__outer-controls {
  display: flex;
  background-color: $input-bg-color;
  height: $outer-controls-height;
  padding-left: 25px;
  padding-right: 23px;
}

.video__time-controls {
  position: relative;
  flex-grow: 1;
  margin-top: 22px;
  margin-bottom: 20px;
  margin-left: 17px;
  margin-right: 17px;
}

.video__progressbar {
  height: 3px;
  flex-grow: 1;
  background-color: $white;
  opacity: 0.2;
  margin-left: 5px;
  margin-right: 5px;
}

.video__pin {
  position: absolute;
  top: -3px;
  left: 41px;
  width: 9px;
  height: 9px;
  background-color: $white;
  border-radius: 50%;
}

// buttons

.video__control {
  fill: $control-btn-color;
}

.video__control--replay {
  margin-right: auto;
}

.video__control--fullscreen {
  margin-left: 31px;
}

@media (min-width: $tablet-width) {
  .video {
    padding-bottom: 0;
  }

  .video__video {
    height: 500px;
  }

  .video__controls {
    width: 100%;
    left: 0;
    right: auto;
  }

  .video__time-controls {
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 88px;
    margin-right: 161px;
  }

  .video__pin {
    left: 118px;
  }

  .video__outer-controls {
    height: auto;
  }

  .video__control {
    fill: white;
    position: absolute;
  }

  .video__control--replay {
    top: 35px;
    left: 35px;
  }

  .video__control--cc {
    top: 36px;
    right: 92px;
  }

  .video__control--fullscreen {
    top: 36px;
    right: 41px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding-left: 0;
    padding-right: 0;
  }
}
